{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .menu_wrapper {
        margin-top: 0;
    }
</style>
        <!-- page_title_section start -->
        <div class="page_title_section">
            <div class="page_title_overlay"></div>
            <div class="page_header text-center">
                <div class="container">
                    <div class="row">
                        <!-- section_heading start -->
                        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                            <div class="page_header_line">
                                <h1 class="pst_bottompadder30"><span>about us</span></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                    <div class="row">
                        <div class="page_header_bottom">
                            <ul class="sub_title">
                                <li><a href="#"> Home </a></li>
                                <li class="icon_breamcum">></li>
                                <li>about us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page_title_section end -->
        <!-- about us page start-->
        <div class="about_page_wrapper pst_toppadder100">
            <div class="container">
                <div class="row">
                    <div class="abt_page_left_wrapper">
                        <div class="abt_txt_page_wrapper pst_bottompadder40">
                            <div class="sidebar_widget about_page_heading_wrapper">
                                <h4>about our journey <span></span></h4>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod or incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident,unt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatise
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod or Excepteur sint occaecat cupidatat non proident,unt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatise</p>
                        </div>
                        <div class="abt_txt_page_wrapper pst_bottompadder40">
                            <div class="sidebar_widget about_page_heading_wrapper">
                                <h4>our mission <span></span></h4>
                            </div>
                            <div class="abt_img_right_page img-effect zoom-slow">
                                <img src="{% static 'images/abt_img_1.jpg' %}" alt="img" class="img-responsive" />
                            </div>
                            <p class="pstabt_left_img_wrapper">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ar et dolore magna Duis aute irure dolor in re magna aliqua. Ut enim consequat reprehenderit in volu
                                dolorerit in voluptate velit esse cillum do.ptate velit esse cillum dolore eiu reprehenderit in voluptate velit e Excepteur sint occaecat cupidatat
                            </p>
                            <p class="p_para">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ar et dolore magna aliqua. Ut enim consequat. Duis aute irure dolor in re magna aliqua. Ut enim consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eiu fugiat nulla pariatur. Excepteur sint reprehenderituat. Duis aute irure dolor in re magna in voluptate velit esse cillum dolore
                                eiu fugiat nulla pariatur at nulla pariatur. Excepteur sint sint occaecat cupidatat
                            </p>
                            <div class="abt_chk pst_toppadder10">
                                <div class="content">
                                    <ul>
                                        <li><i class="fa fa-caret-right" aria-hidden="true"></i><span>Professional Sanitizing.</span></li>
                                        <li><i class="fa fa-caret-right" aria-hidden="true"></i><span>Sanitizing & Disinfecting</span></li>
                                        <li><i class="fa fa-caret-right" aria-hidden="true"></i><span>Removal After Disinfection</span></li>
                                        <li><i class="fa fa-caret-right" aria-hidden="true"></i><span>Used All Our Equipments</span></li>
                                        <li><i class="fa fa-caret-right" aria-hidden="true"></i><span>Floor Sanitizing & Vacuuming.</span></li>
                                        <li><i class="fa fa-caret-right" aria-hidden="true"></i><span>24/7 Services</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="abt_page_img_rght_wrapper">
                        <div class="pc_abt_img_wrapper">
                            <img src="{% static 'images/ab_right.png' %}" alt="img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about us page end-->
        <!-- counter wrapper start-->
        <div class="counter_section">
            <div class="counter_overlay">
                <section class="counter-section section-padding" data-stellar-background-ratio="0.5">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-12 col-sm-6 wow zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1s; animation-name: zoomIn;">
                                <div class="icon">
                                    <a href="#"><i class="flaticon-certification-award"></i></a>
                                </div>
                                <div class="count-description">
                                    <span class="timer">100</span>%
                                    <h5 class="con1">quality</h5>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-12 col-sm-6 wow zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1s; animation-name: zoomIn;">
                                <div class="icon">
                                    <a href="#"><i class="flaticon-happy"></i></a>
                                </div>
                                <div class="count-description">
                                    <span class="timer">2055</span>+
                                    <h5 class="con2">happy clients</h5>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-12 col-sm-6 wow zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1s; animation-name: zoomIn;">
                                <div class="icon">
                                    <a href="#"><i class="flaticon-medal"></i></a>
                                </div>
                                <div class="count-description">
                                    <span class="timer">845</span>+
                                    <h5 class="con2">success mission</h5>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-12 col-sm-6 wow zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1s; animation-name: zoomIn;">
                                <div class="icon">
                                    <a href="#"><i class="flaticon-trolley"></i></a>
                                </div>
                                <div class="count-description">
                                    <span class="timer">257</span>+
                                    <h5 class="con4">Passionate Employee</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- counter wrapper end-->
        <!-- sp choose wrapper Start -->
        <div class="sp_choose_main_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-12 col-sm-12 offset-lg-2 offset-md-2">
                        <div class="sp_choose_heading_main_wrapper pst_bottompadder50">
                            <h2><span>Why Choose Us</span></h2>
                            <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12 col-sm-12">
                        <div class="sp_who_we_are_wrapper">
                            <div class="ps_img_wrapper">
                                <div class="img-effect">
                                    <img src="{% static 'images/who_we_img.png' %}" class="img-responsive" alt="img" />
                                </div>
                                <div class="who_we_Are_txt_wrapper">
                                    <h2 class="pst_bottompadder10 pst_toppadder20">who we are</h2>
                                    <p>Proin gravida nibh vel velit auctor aliquet. ean sollicitudin, lorem quis bibendu ipsum, nec sagittis sem nibh id elit. Duis sed odio sit.</p>
                                    <p>Proin gravida nibh vel velit auctor aliquet. ean solly, Duis sed odio sit amet.</p>
                                </div>
                            </div>
                            <div class="social_icon3">
                                <ul>
                                    <li>
                                        <a href="#" class="downlod"> <i class="fa fa-file"></i> Download brochure </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-12 col-sm-12">
                        <div class="abt_right_statistic_wrapper">
                            <div class="sp_choose_heading_main_wrapper testi_heading_wrapper pst_bottompadder40">
                                <h2>Corona Statistics</h2>
                                <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,sem nibh id elit. Duis sed odio sit cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                            </div>
                            <div class="sales-chart">
                                <canvas id="team-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--sp choose wrapper end-->
{% endblock %}