{% extends 'base.html' %}
{% load static %}
{%block content  %}
<style>
    .menu_wrapper {
        margin-top: 0;
    }
</style>
        <!-- page_title_section start -->
        <div class="page_title_section">
            <div class="page_title_overlay"></div>
            <div class="page_header text-center">
                <div class="container">
                    <div class="row">
                        <!-- section_heading start -->
                        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                            <div class="page_header_line">
                                <h1 class="pst_bottompadder30"><span>contact us</span></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                    <div class="row">
                        <div class="page_header_bottom">
                            <ul class="sub_title">
                                <li><a href="#"> Home </a></li>
                                <li class="icon_breamcum">></li>
                                <li>contact us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page_title_section end -->

        <!--contact us section start-->
        <div class="contact_us_page_wrapper">
            <div class="cnt_page_overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-12 col-12 col-sm-12 offset-lg-1">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 col-sm-12">
                                <div class="cnt_icon_wrapper wow zoomIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: zoomIn;">
                                    <div class="cnt-icon-img">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </div>
                                    <div class="cnt-icon-content">
                                        <p>
                                            01011196618
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 col-sm-12">
                                <div class="cnt_icon_wrapper wow zoomIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: zoomIn;">
                                    <div class="cnt-icon-img">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                    <div class="cnt-icon-content">
                                        <p>
                                            <a href="#"> ifno@3aqmli.com</a> <br />
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-4 col-md-4 col-12 col-sm-12">
                                <div class="cnt_icon_wrapper wow zoomIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: zoomIn;">
                                    <div class="cnt-icon-img">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    </div>
                                    <div class="cnt-icon-content">
                                        <p>
                                            98 / Ram Nagar, India <br />
                                            75 / California UK
                                        </p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--contact us section end-->
        <!-- message section start -->
        <div class="sp_fm_contact_section">
            <div class="container">
                <div class="row">
                    <div class=" col-md-12 col-12 col-sm-12">
                        <div class="contact_form_section">
                            <h4>leave your message</h4>
                            <p class="pst_toppadder10 pst_bottompadder30">Have any question , business inquiry , service review ? <br>
                                        Please fill the following form and we will get back to you as soon as possible .</p>

                            <form  id="contact-form" method="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="inquiry_section-pos">
                                            <div class="form-group">
                                                <label class="sr-only">Name</label>
                                                <input id="contact_name" type="text" name="full_name" placeholder="Full Name" class="require form-control" />
                                            </div>
                                        </div>
                                        <div class="inquiry_section-e">
                                            <div class="form-group">
                                                <label class="sr-only">Email</label>
                                                <input id="contact_email" type="email" name="email" placeholder="Email" class="require form-control" data-valid="email" data-error="Email should be valid." />
                                            </div>
                                        </div>
                                        <div class="inquiry_section-p">
                                            <div class="form-group">
                                                <label class="sr-only">Phone</label>
                                                <input type="text" id="contact_phone" name="contact_no" placeholder="Phone" class="require form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.col-md-6 -->
                                    <div class="col-md-6">
                                        <div class="inquiry_section-m">
                                            <div class="form-group">
                                                <label class="sr-only">Message</label>
                                                <textarea rows="7" id="message" name="message" placeholder="Message" class="require form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.col-md-6 -->
                                    <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                                        <div class="response"></div>
                                        <div class="cntct_2_btn_wrapper">
                                            <button type="submit" class="btn cntct_btn submitForm">Send</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </form>
                        </div>
                    </div>
                    <!-- /.col-md-8 -->
                    
                </div>
            </div>
        </div>
        <!-- message section end -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script>
           
        </script>
{% endblock %}